In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


database=pd.read_csv('50_Startups.csv')

#X is the dataset containing independent values
X= database.iloc[:, :-1]

#Y is the dataset containing dependent values which we can predict further i.e. profit
Y= database.iloc[: , -1].values
database.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [44]:
#encoding state into 1 and 0


from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder=('passthrough'))
X= np.array(ct.fit_transform(X))

In [45]:
#spliting the database into training and testing set

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(X, Y, test_size=0.2)

In [46]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [47]:
y_pred=regressor.predict(x_test)
df=pd.DataFrame({'Predicted values':y_pred, 'real values':y_test})
df

   Predicted values  real values
0      97608.201520     97427.84
1     129526.498439    125370.37
2      62362.815004     65200.33
3      73581.428663     78239.91
4     101156.871509    107404.34
5      82948.203295     81005.76
6     110940.613919    108733.99
7      44725.624326     64926.08
8      98341.528639     96778.92
9     161543.175525    155752.60

In [48]:
#evaluating our model
#how accurate it is
#root mean squared method

from sklearn import metrics
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

7340.047215957215